.demo-content {
    padding: 60px;
    font-size: 18px;
    background: #4d4dff;
    margin-bottom: 15px;
  }

  .demo-content.bg-alt {
    background: #4d4dff;
  }

  #colorstyle {
    color: white
  }
  /* Make the image fully responsive */
.carousel-inner img {
    width: 100%;
    height:250px;
}
